/* #region css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* #endregion */


 /* Styling starts here */

 * {
    color: #fff;
    font-family: "Roboto", sans-serif;
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
 }

 .container {
    height: 100vh;
    width: 600px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 button {
    transition: 0.3s ease;
    border-radius: 10px;
 }

 button:hover {
    cursor: pointer;
    transform: scale(1.04);
 }

.board {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    flex: 1 20%;
}

.logo {
    display: flex;
}

.display {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.restart button svg {
    width: 40px;
    background-color: white;
    outline: none;
}

.board > * {
    flex: 1;
}

.grid {
    flex: 1 1 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.grid > button {
    border: 1px solid white;
    background-color: #000;
}

.grid > button:hover {
    background-color: #1f1f1f;
}

.disabled {
    pointer-events: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 30%;
    padding-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    font-weight: 600;
}

form > input {
    margin-bottom: 1rem;
    background-color: black;
    border: 1px solid white;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    transition: 0.3s ease;
}

form > button {
    margin-top: 1rem;
    color: black;
    width: fit-content;
    padding: 0.5rem 2rem;
    align-self: center;
    font-weight: 600;
}

form > input:hover {
    transform: scale(1.03);
}